
<% include('../layout/header.ejs') %>
<head>
  <link rel="stylesheet" href="user2.css">
</head>
  <div class="container">
    <div class="heading">
      <h1 class="text-center">welcome!!</h1>
    </div>
    <p class="message1">You have been logged out.</p>
    <a href="/logout" name="Logout" class="button btn-danger btn">Logout</a>
  </div>