@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.163);
  max-width: 370px;
  margin: 0 auto 100px;
  padding: 65px;
  margin-top: 0px;
  text-align: center;
  box-shadow: 0 0 80px 0 rgba(4, 55, 131, 0.3), 0 5px 5px 0 rgba(33, 24, 24, 0.43);
  border-radius: 15px;
  border:solid rgba(89, 30, 77, 0.512) 2.5px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: rgb(157, 211, 194);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 15px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(137, 50, 50) ;
  width: 100%;
  border: 0;
  padding: 13px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 25px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #431c23;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #87d1a7;
  text-decoration: none;
 
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #786161;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: rgb(141,194,111);
  background: linear-gradient(180deg, rgb(33, 58, 76) 0%, rgb(104, 37, 37) 70%);
/* background-color: #607462; */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.h2{
 margin-bottom: 20px;
 margin-top: 0px;
 color: #b6debd;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}